input{
    /* width: 100%; */
    background-color: green;
}

.-small{
    max-width: 20px;
    border: solid 5px purple;
}

.-medium{
    max-width: 25px;
    border: solid 5px peru;
}

.-large{
    max-width: 30px;
    border: solid 5px pink;
}
